@import "../../../css/variables.sass"

.card
  background-color: #FFFFFF;
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  display: flex;
  font-family: 'Heebo', sans-serif;
  justify-content: space-between;
  margin-bottom: 2em;
  min-height: 245px;
  padding: 1em;

  @media #{$mq-mobileLarge}
    flex-wrap: wrap;
    justify-content: center;

  > .history
    display: flex;
    flex-direction: column;
    width: 100%;

    @media #{$mq-mobileLarge}
      margin-top: 3em;

    .graph
      display: flex;
      height: 100%;
      justify-content: space-around;
      width: 100%;

      .item
        display: flex;
        flex-direction: column;
        justify-content: flex-end
        width: 30px;

        .bar
          background: linear-gradient(to bottom, #EE6F48, #F98100);
          opacity: .6;
          transition: opacity .25s ease;
          max-height: 150px;

          &:hover
            opacity: 1;

        .month
          color: #B5B5B5;
          font-size: 12px;
          letter-spacing: 3px;
          margin-top: 10px;

    .header
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      width: 100%;

      @media #{$mq-mobileLarge}
        margin-bottom: 2em;

      .right
        align-items: center;
        color: #555555;
        cursor: pointer;
        display: flex;
        height: auto;
        letter-spacing: 2px;
        padding: .5em;

        .arrow
          margin: 0 10px;
          width: 30px;

      .left
        padding: .5em 1em;

        .title
          color: #F98100;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 2px;
          margin: 0;
          text-transform: uppercase;

  > .right
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;
    text-align: right;

    @media #{$mq-mobileLarge}
      display: none;

    .price
      color: #79BD1A;
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-weight: bold;
    .title
      color: #B2B0C0;
      font-size: 15px;
      letter-spacing: 2px;
      margin-right: 2px;
      margin-bottom: -5px;

  > .left
    display: flex;
    .image
      box-shadow: 0px 0px 12px 0px #919191;
      margin-right: 10px;

  > .middle
    border-right: solid 1px #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    min-width: 370px;
    padding: .5em 1em;

    @media #{$mq-mobileLarge}
      border-right: none;
      max-width: 100%;
      min-width: initial;
      padding: 2em 0;

    .header
      .title
        color: #F98100;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 10px 0 0;
        text-transform: uppercase;

      .hiddenPrice
        color: #B2B0C0;
        display: none;
        font-size: 15px;
        letter-spacing: 2px;
        margin: 0;

        @media #{$mq-mobileLarge}
          display: block;

        span
          color: #79BD1A;
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;

    .buttons

      @media #{$mq-mobile}
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


      button
        @media #{$mq-mobile}
          margin-bottom: .5em;
          width: 100%;

        &:first-of-type
          margin-right: 1em;
          @media #{$mq-mobile}
            margin-right: 0;


    .bio
      color: #B5B5B5;
      flex-grow: 2;

    .stars

      .star
        margin: 0 1px;
        width: 15px;
